<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no"
          name="viewport">
    <title>用户后台管理</title>

    <link rel="stylesheet" href="background/modules/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="background/modules/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="background/modules/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css">

    <link rel="stylesheet" href="background/modules/summernote/summernote-lite.css">
    <link rel="stylesheet" href="background/modules/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="background/css/demo.css">
    <link rel="stylesheet" href="background/css/style.css">
    <link rel="stylesheet" href="background/css/common.css"/>
    <link rel="stylesheet" href="background/css/fileinput.min.css"/>
    <script src="background/js/message.js"></script>
</head>

<body>
<div id="app">
    <div class="main-wrapper">
        <div class="navbar-bg"></div>

        <div th:replace="commons/admin-bar::navbar"></div>
        <div th:replace="commons/admin-bar::sidebar"></div>
        <div class="main-content">
            <section class="section">
                <div class="row">
                    <div class="col-12">
                        <div class="card card-primary">
                            <div class="card-header">
                                <div class="float-right">
                                    <a href="profile">我的资料</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3"></div>
                                <div class="card-body col-6">
                                    <form>
                                        <div class="form-group">
                                            <label for="old_pwd">原始密码</label>
                                            <input id="old_pwd" type="password" class="form-control"  autofocus
                                                   required="required" data-toggle="popover" data-placement="top"
                                                   data-content="">
                                        </div>
                                        <div class="form-group">
                                            <label for="new_pwd">新密码</label>
                                            <input id="new_pwd" type="password" class="form-control"
                                                    autofocus required="required"
                                                   data-toggle="popover" data-placement="top"
                                                   data-content="">
                                        </div>

                                        <div class="form-group">
                                            <label for="new_pwd1">确认新密码</label>
                                            <input id="new_pwd1" type="password" class="form-control" name="idCard"
                                                   required="required">
                                        </div>
                                        <div class="form-group">
                                            <button type="button" class="btn btn-primary btn-block" onclick="updatePwd1()">
                                                提交申请
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div th:replace="commons/admin-bar::footer"></div>
    </div>
</div>

<script src="background/modules/jquery.min.js"></script>
<script src="background/modules/popper.js"></script>
<script src="background/modules/tooltip.js"></script>
<script src="background/modules/bootstrap/js/bootstrap.min.js"></script>
<script src="background/modules/nicescroll/jquery.nicescroll.min.js"></script>
<script src="background/modules/scroll-up-bar/dist/scroll-up-bar.min.js"></script>
<script src="background/js/sa-functions.js"></script>

<script src="background/modules/chart.min.js"></script>
<script src="background/modules/summernote/summernote-lite.js"></script>

<script src="background/js/scripts.js"></script>
<script src="background/js/custom.js"></script>
<script src="background/js/profile.js"></script>
<script src="background/js/fileUpload.js"></script>
<script src="background/js/fileinput.min.js"></script>
<script src="background/js/zh.js"></script>
</body>

</html>